* { 
    margin:0;
    padding:0;
}

body {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 14px;
  background-image: url("../images/back.jpg"); 
  background-repeat: repeat;
}

h1{ 
    font-size: 50px; 
    font-family: 'Georgia';
}

h2{ 
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px; 
    font-family: 'Georgia';
    font-style: italic;
}

h3{ 
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px; 
    font-family: 'Georgia';
}

ul{
    margin-left: 40px;
    margin-bottom: 20px;
}

ul ul{
     margin-left: 20px;
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
}

ol{
    margin-left: 40px;
    margin-bottom: 20px;
}

img {
    border: 0;
}

img.fig { 
    background-color: #FFFFFF;
    padding:8px;
    margin:4px;
    border:1px solid #CCCCCC;
}

p {
    font-size:14px;
    line-height:180%;
}

#container{
    width: 800px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 80px;
    background-color: white;
}

span.license{
    font-size: 10px;
    color: white;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

span.tech{
    font-size: 10px;
    color: white;
    background-color: #F97D7D;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

a:link, a:visited, a:active {
    color: #069;
    text-decoration: none;
}

a:hover, a:focus {
    color: #069;
    text-decoration: underline;
}

pre.code {
    font-size: 14px; 
    font-family: 'Courier New';
    background: #eeeeee;
    border: 1px solid #888888;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}